@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F2;
}

/* Para navegadores baseados em WebKit como Chrome e Safari */
.overflow-auto::-webkit-scrollbar {
  display: none; /* Esconde a barra de rolagem */
}

/* Para o Firefox */
.overflow-auto {
  scrollbar-width: none; /* Esconde a barra de rolagem */
}

.buttonScroll {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: #6b7280;
  padding: 5px 5px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.buttonScroll:hover {
  background-color: #ff5555;
  transition: background-color 0.5s ease;
  duration: 0.5s;
}

@layer base {
  .category-header {
    @apply bg-blue-100 border-blue-300;
  }

  .back-button {
    @apply bg-gray-500 hover:bg-[#FF5555] text-white p-2 rounded;
  }

  .category-title {
    @apply text-2xl font-bold text-gray-500;
  }

  .resource-card {
    @apply bg-white shadow-md rounded-lg p-4 m-4;
  }

  .resources-wrapper {
    @apply flex flex-wrap justify-center;
  }

  .links-container {
    @apply p-4;
  }

  .resource-card {
    @apply bg-white rounded-lg shadow transition-all hover:shadow-xl p-5 mb-5;
  }

  .category-header {
    @apply flex items-center justify-between p-5 bg-white shadow-lg rounded-md mb-5;
  }

  .back-button {
    @apply hover:scale-105 transition-transform;
  }

  .category-title {
    @apply text-2xl font-bold text-gray-800;
  }

  .links-container {
    @apply min-h-screen bg-gray-100 py-10 px-5;
  }
}
